$main-background-color: #e3e3e3;
$main-black-color: #393939;
$topbar-height: 10vh;
body {
  margin: 0px;
}

div {
  margin: 0px;
  color: $main-black-color;
}

.most-parent {
  height: 100vh;
  width: 100vw;
  background-color: #e3e3e3;

  .topbar {
    height: $topbar-height;
    width: 100vw;
    display: flex;
    align-items: center;

    .topbar-title {
      display: inline-block;
      height: calc(#{$topbar-height} * 0.7);
      margin-left: 1vw;
    }

    .topbar-menu {
      display: inline-block;
      height: calc(#{$topbar-height} * 0.65);
      margin-right: 2vw;
      margin-left: auto;
      cursor: pointer;
    }
  }

  .content-body {
    height: calc(100vh - #{$topbar-height});

    .site-title-container {
      width: 30vw;
      height: auto;
      margin-left: 1vw;

      .site-title {
        height: auto;
        width: 100%;
        border-bottom: #393939 10px;
        margin-top: 5vh;
        font-family: "refrigerator-deluxe";
        font-size: 5em;
        font-weight: 900;
        color: $main-background-color;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $main-black-color;
      }
    }
  }
}
