$main-background-color: #e3e3e3;
$main-black-color: #393939;
$topbar-height: 10vh;
$topbar-height-mobile: 7vh;

$breakpoint: 767px;

// mixinの定義
@mixin mobile() {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

body {
  margin: 0px;
}

div {
  margin: 0px;
  color: $main-black-color;
  font-family: "refrigerator-deluxe";
  background: $main-background-color;
}

.most-parent {
  height: 100vh;
  width: 100vw;
  background-color: #e3e3e3;

  .topbar {
    height: $topbar-height;
    @include mobile() {
      height: $topbar-height-mobile;
    }
    width: 100vw;
    display: flex;
    align-items: center;

    .topbar-title {
      display: inline-block;
      height: calc(#{$topbar-height} * 0.7);
      @include mobile() {
        height: calc(#{$topbar-height-mobile} * 0.7);
      }
      margin-left: 1vw;
    }

    .topbar-menu {
      display: inline-block;
      height: calc(#{$topbar-height} * 0.65);
      @include mobile() {
        height: calc(#{$topbar-height-mobile} * 0.65);
      }
      margin-right: 2vw;
      margin-left: auto;
      cursor: pointer;
    }
  }

  .content-body {
    height: calc(100vh - #{$topbar-height});
    @include mobile() {
      height: auto;
    }

    .site-upper {
      width: 98vw;
      height: auto;
      margin-left: 1vw;
      display: flex;
      max-height: 30vh;

      .site-title-container {
        flex: 35;
        .site-title {
          height: auto;
          width: 100%;
          border-bottom: solid $main-black-color 10px;
          margin-top: 5vh;
          font-size: 13vh;
          font-weight: 900;
          color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $main-black-color;
          line-height: 0.9em;
        }
        .site-title-note {
          height: auto;
          width: 100%;
          font-size: 2vh;
          font-weight: 900;
          margin-top: 10px;
          text-align: right;
          letter-spacing: 0.05em;
        }
      }

      .menu-container {
        margin-left: auto;
        flex: 65;
        .menu-site-title {
          height: auto;
          width: calc(#{$topbar-height} * 0.65);
          float: right;
          margin-right: 1vw;
          writing-mode: vertical-rl;
          font-size: 2em;
          line-height: calc(#{$topbar-height} * 0.65);
          font-weight: 900;
          letter-spacing: 0.05em;
          margin-top: 10px;
          transition: all 0.2s;

          @include mobile() {
            width: calc(#{$topbar-height-mobile} * 0.65);
            line-height: calc(#{$topbar-height-mobile} * 0.65);
          }
        }
      }
    }

    .site-main {
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .score-board-block {
        display: inline-block;
        width: calc((100vw - 50px * 4) / 3);
        margin-left: 50px;
        @include mobile() {
          width: 80vw;
          margin-left: 0px;
        }
        margin-top: 10vh;
        border-bottom: solid 2px $main-black-color;

        &:nth-child(1) {
          margin-left: 0px;
        }

        .score-board-team-title {
          display: inline-block;
          width: 35%;
          font-weight: 700;
          font-size: 1.8em;
          line-height: 1.5em;
          padding-left: 0.5em;
          padding-right: 0.5em;
          color: $main-background-color;
          background: $main-black-color;
          @include mobile() {
            width: 50%;
          }
        }

        .score-board-body {
          display: flex;
          align-items: center;

          .score-board-score {
            font-size: 5em;
            vertical-align: top;
            font-weight: 700;
          }

          .score-board-rank {
            line-height: 1.1em;
            vertical-align: top;
            float: right;
            width: auto;
            padding-left: 1.5em;
            padding-right: 1.5em;
            text-align: center;
            font-size: 2.3em;
            border: solid 4px $main-black-color;
            margin-left: auto;
            font-family: futura-pt, sans-serif;
            font-weight: 400;
            font-style: normal;
          }
        }
      }

      .select-result-block {
        display: inline-block;
        width: calc((100vw - 100px * 3) / 2);
        margin-left: 100px;
        margin-top: 5vh;
        border-bottom: solid 2px $main-black-color;
        display: flex;

        align-items: center;

        &:nth-child(1) {
          margin-left: 0px;
        }

        .score-board-team-title {
          width: 35%;
          font-weight: 700;
          font-size: 1.8em;
          line-height: 1.5em;
          padding-left: 0.5em;
          padding-right: 0.5em;
          color: $main-background-color;
          background: $main-black-color;
          margin-bottom: 1vh;
        }

        .score-board-select {
          vertical-align: top;
          line-height: 1.3em;
          float: right;
          width: auto;
          padding-left: 0.5em;
          padding-right: 1.5em;
          text-align: left;
          font-size: 1.8em;
          border: solid 4px $main-black-color;
          margin-left: auto;
          font-weight: 400;
          font-style: normal;
          background: $main-background-color;
          margin-bottom: 1vh;

          option {
            font-size: 0.5em;
            border: transparent;
            background: $main-black-color;
            color: $main-background-color;
            margin: 0;
          }
        }
      }

      .display-result-block {
        height: 50vh;
        width: 100%;
        display: flex;
      }
    }

    .result-spreadsheet {
      height: 50vh;
      width: 80vw;
      margin-left: 10vw;
      margin-top: 5vh;
      background: $main-background-color;
      border: solid $main-black-color 4px;
    }
  }
}
